@tailwind base;
@tailwind components;
@tailwind utilities;

dialog {
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
